.page-about {
    justify-content: flex-start;
}

.about > p > a {
    color:  rgba(255,99,99,1);
}

.about {
    max-width: 400px;
    max-height: 400px;
    margin: 100px auto 0 auto;
}
.page-about {
}

@media(max-width: 500px) {

    .page-about {
    }

}
