.page-home {
    justify-content: flex-start;
}

.latest {
}

.latest > a,
.latest > a > header,
.latest > a header > img {
    width: 100%;
}

.latest > a > header > h1,
.latest > a > header > h2,
.latest > a > header > h3 {
    margin-bottom: 5px;
    width: 100%;
}

.latest > a > header > h3 {
    font-style: italic;
    font-weight: lighter;
}

.latest > img {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.upcoming,
.latest header {
    padding-bottom: 25px;
}
