.page-home {
    justify-content: flex-start;
    margin-top: 100px;
}

.latest {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}
.latest > a > header > h1,
.latest > a > header > h2,
.latest > a > header > h3 {
    margin-bottom: 5px;
    width: 100%;
}

.latest > a > header > h3 {
    font-style: italic;
    font-weight: lighter;
}

.latest img {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}
