nav {
    box-sizing: border-box;
    width: 100%;
    align-items: baseline;
    padding: 10px;
}

nav,
nav > .nav-items {
    display: flex;
    flex-direction: column;
}

.nav-items {
    margin-top: 10px;
}

.nav-item {
    list-style-type: none;
    margin: 2px;
}

.nav-item > a {
    background-color: white;
    color: #313131;
    padding: 2px;
}

.nav-item > a:hover {
    color:  rgba(255,99,99,1);

}

.nav-item.current-page > a,
#nav-dropdown-target.current-page > a {
    color:  rgba(255,99,99,1);
}


@media(max-width: 650px) {
    nav {
        flex-direction: row; 
        justify-content: space-between;
    }

    ul#nav-dropdown {
        flex-direction: column;
        align-items: flex-end;
    }
}
