body {
    background: black;
    color: white;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.page {
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
}

nav {
    align-items: baseline;
}


nav, nav > .nav-items {
    display: inline-flex;
    margin-bottom: 0;
}

nav .nav-items > .nav-item {
    list-style-type: none;
    margin: 20px 10px;
}

.nav-items {
    padding-left: 10px;
}


.selected-image {
    background-image: url("/static/img/floodreed-chakrat-ep.png");
    background-size: cover;
    width: 400px;
    height: 400px;
}

.title {
    width: 398px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-weight: lighter;
    justify-content: space-between;
}
.title > .artist-name {
    padding-right: 10px;
}

.artist-name, .release-title {
    margin: 10px 0px;

}

.artist-name {
    font-weight: 200;
}
.release-title {
    font-weight: lighter;
}

.release-title > .art {
    max-width: 200px;
    max-height: 200px;
}

.category {
    display: inline-block;
    padding: 20px;
    font-weight: 200;
}

.feed {
    margin-left: 0;
    padding-left: 0;
}
.feed td {
    margin-right: 10px;
}

.feed-item.selected, .nav-item.current-page {
    color: rgba(255,99,99,1);
}
.feed-item.selected {
}

.feed-item > td {
    padding-right: 10px;
}

.feed-item-date {
}

.feed-item-artist {
}
.feed-item-title {
}
