{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

    <div class="about">
        <p><a href="/">Machine Tone</a> is small label founded by two friends looking to carve out a single space to showcase their evolving music. 
        <a href="https://www.discogs.com/artist/9052408-Alex-Ramsdell?type=Credits&filter_anv=0">Alex Ramsdell</a> is a recording musician and software developer based in MA.
        <a href="https://ra.co/dj/justinreed">Justin Reed</a>
        is a veteran Chicago DJ and sound-experimentalist based in MA.
{% endblock %}
