{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

    <div class="about">
        <p>
            <a href="https://ra.co/dj/justinreed">Justin Reed</a> and <a href="https://www.discogs.com/artist/9052408-Alex-Ramsdell?type=Credits&filter_anv=0">Alex Ramsdell</a>
            combined forces in 2020 to establish Machine Tone as a home for their electronic music. It's a slow-burning, evolving project with much more to come.
        </p>
    </div>
{% endblock %}
