{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

    <div class="about">
        <p>This is a small label run by two friends looking to carve out a single space to showcase their evolving music. 
        <a href="https://www.discogs.com/artist/9052408-Alex-Ramsdell?type=Credits&filter_anv=0">Alex Ramsdell</a> is a recording musician and software based in Massachusetts.
        <a href="https://ra.co/dj/justinreed">Justin Reed</a>
        is a veteran Chicago DJ and sound-experimentalist based out of Massachusetts. They met at
        the Boston Modular Synthesizers Meetup, talked like 10 times on the phone after that, and then founded <a href="/">Machine Tone</a> based on slow-burn principles.
    </div>

{% endblock %}
