{% extends "base.html" %}
{% block page_content %}
<div>
    <label>artist</label>
    <select class="artist-dropdown">
        <option>a</option>
        <option>b</option>
        <option>c</option>
    </select>
    <button class="add-new-artist">+</button>
    <input name="new-artist" />
</div>
<div class="release-info">
    <div>
        <label>release</label>
        <input name="release" placeholder="release title"/>
    </div>
    <div>
        <label>release information</label>
        <textarea name="release-copy" placeholder="release information"></textarea>
    </div>
    <div>
        <label>genre</label>
        <select name="release-genre-select">
            <option>ambient</option>
            <option>experimental</option>
            <option>techno</option>
            <option>minimal techno</option>
            <option>house</option>
        </select>
    </div>
    <button type="submit">submit</button>
</div>
{% endblock %}
