<!doctype>
<html lang="en">
    <head>
        <title>Machine Tone - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    </head>
    <body>
        <section>
            <nav>
                <h1>[ machine tone ]</h1>
                <ul class="nav-items">
                    <li class="nav-item current-page"><a href="/catalog">catalog</a></li>
                    <li class="nav-item"><a href="/artists">artists</a></li>
                    <li class="nav-item"><a href="/about">about us</a></li>
                </ul>
            </nav>
        </section>
        <main>
            {% block page_content %}
            {% endblock %}
        </main>
    </body>
</html>

