<!doctype>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title >Machine Tone - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/newsletter.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/artists.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/catalog.css') }}" />
        {% block stylesheets %}{% endblock %}

        <!-- MailerLite Universal -->
        <script>
            (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
            .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
            n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
            (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
            ml('account', '118899');
        </script>
        <!-- End MailerLite Universal -->

    </head>
    <body>
        <nav>
            <header class="{% if request.endpoint == 'home' %}current-page{% endif %}" id="nav-dropdown-target">
                <a class="site-link" href="/">[ machine tone ]</a>
            </header>
            {% if request.endpoint != 'admin' %}
            <ul id="nav-dropdown" class="nav-items">
                <!--
                    <li class="nav-item {% if request.endpoint == 'artists' %}current-page{% endif %}">
                    <a href="/artists">artists</a>
                </li>
                -->
                <li class="nav-item {% if request.endpoint == 'catalog' %}current-page{% endif %}">
                    <a href="/catalog">catalog</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'about' %}current-page{% endif %}">
                    <a href="/about">about us</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'newsletter' %}current-page{% endif %}">
                    <a href="/newsletter">newsletter</a>
                </li>
            </ul>
            {% endif %}
        </nav>
        <main class="page page-{{request.endpoint}}">
            {% block page_content %}
            {% endblock %}
        </main>

        <footer>
            <span class="copyright">© Machine Tone, 2022.  All Rights Reserved.</span>
        </footer>
        {% block scripts %}{% endblock %}
        <script src="{{url_for('static', filename='scripts/nav.js')}}"></script>
    </body>
</html>

