<!doctype>
<html lang="en">
    <head>
        <title>Machine Tone - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    </head>
    <body>
        <nav>
            <header id="nav-dropdown-target">
                <a class="site-link" href="/">[ machine tone ]</a>
            </header>
            <ul id="nav-dropdown" class="nav-items hidden">
                <li class="nav-item {% if endpoint == 'artists' %}current-page{% endif %}"><a href="/artists">artists</a></li>
                <li class="nav-item {% if endpoint == 'catalog' %}current-page{% endif %}"><a href="/catalog">catalog</a></li>
                <li class="nav-item {% if endpoint == 'about' %}current-page{% endif %}"><a href="/about">about us</a></li>
            </ul>
        </nav>
        <main class="page-{{endpoint}}">
            {% block page_content %}
            {% endblock %}
        </main>
    </body>
</html>

