{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<section class="latest">

    <a href="/catalog/MT003">
        <header>
            <h1>{{ latest_release['catalog_number'] }}</h1>
            <h2 class="artist">{{latest_release['artist_name'] }}</h2>
            <h3 class="release">{{latest_release['release_title'] }}</h3>
        </header>
        <img src="{{ url_for('static', filename='img') }}/release/{{ latest_release['catalog_number'] }}-large.png" />
        <p class="short-description">{{ latest_release['release_description'] }}</p>
    </a>

</section>
{% endblock %}
