{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<section class="latest">

    <a href="/catalog/mt004">
        <header>
            <h1>MT004</h1>
            <h2 class="artist">Allen Fingerlake</h2>
            <h3 class="release">Reintroductions</h3>
        </header>
        <img src='{{ url_for("static", filename="img/fingerlake-reintroductions.png") }}' />
        <p class="short-description">Essais in minimal techno. Living inside stillness.</p>
    </a>

</section>
{% endblock %}
